{{ define "main" }}
<content>

  {{ with .Content }}
    <div class="list-page-content">
      {{ . }}
    </div>
  {{ end }}

  {{ if .Data.Singular }}
    <h3 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h3>
  {{ end }}

  {{ if .Pages }}
    <h2> Latest Posts</h2>
  {{ end }}

  <ul class="blog-posts">
    {{ range .Pages.ByDate.Reverse }}
    <li>
      <span>
        <i>
            {{ .Date.Format (.Site.Params.dateFormat) }}
        </i>
      </span>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
      {{ if not .Data.Singular }}
      <li>
        {{ i18n "no-posts" }}
      </li>
      {{ end }}
    {{ end }}
  </ul>

  {{ if not .Data.Singular }}
    {{ $tags := .Site.Taxonomies.tags }}
    {{ if gt (len $tags) 0 }}
    <div class="tags-list">
      <h3>{{ i18n "tags" | default "Tags" }}</h3>
      {{ range $tags }}
        <a class="blog-tags" href="{{ .Page.RelPermalink }}">#{{ lower .Page.Title }}</a>
      {{ end }}
    </div>
    {{ end }}
  {{ end }}

</content>
{{ end }}