/* assets/css/gallery.css */
body {
    font-family: 'EB Garamond', serif;
    max-width: 50%;
  }

html {
    font-size: 18px; /* Example: Change this value as needed */
  }

/* Gallery List Styles */
.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.album-card {
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-card:hover {
    transform: translateY(-3px);
}

.album-card img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;
    border-radius: 4px;
}

.album-card h2 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
}


.image-grid {
    column-count: 3;
    column-gap: 6px;
}

.image-card {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;

    margin-bottom: 5px;
    display: inline-block;
    width: 100%;

    position: relative;
    text-decoration: none;
    vertical-align: top;
}

.image-card img {
    width: 100%;
    height: auto;
    display: block;
}

  .image-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s ease;
}

  .image-card:hover::after {
    opacity: 1;
  }

  .single-image-container {
    text-align: center;
    margin: -0.5rem auto
  }

  .single-image-container img {
    max-width: 100%;
    max-height: 67vh;
    height: auto;
    display: inline-block;
  }

  .single-image-title {
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
  }

  .single-image-location {
    font-size: 0.9rem;
    color: #888;
    font-style: italic;
  }

  .image-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    font-size: 0.9rem;
  }

  .prev-link, .next-link {
    flex: 0 0 auto;
  }


/* Responsive adjustments */
@media (max-width: 1200px) {
    .image-grid {
        column-count: 3; /* Fewer columns on smaller screens */
    }
}

@media (max-width: 768px) {
    .image-grid {
        column-count: 2; /* Even fewer columns */
    }
}
@media (max-width: 600px) {
    .album-grid {
        grid-template-columns: 1fr;
    }

    .album-card img {
        max-height: 300px;
    }

    .image-grid {
        column-count: 1;
        column-gap: 0;
    }
     .image-card {
        margin-bottom: 10px;
     }
}

.go-back a {
  color: var(--primary-color); /* Use theme's primary color variable */
  text-decoration: none;
  transition: background-color 0.3s ease;
}