/* assets/css/gallery.css */
body {
    font-family: 'EB Garamond', serif;
    max-width: 65%;
    margin: 0 auto;
  }

html {
    font-size: 18px; /* Example: Change this value as needed */
  }

content img {
  display: block;
  height: auto;
  max-width: 40%;
  max-height: 60%;
  margin: 0 auto;
}

/* Gallery List Styles */
.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    margin: 2rem 0;
}

.album-card {
    text-decoration: none;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-card:hover {
    transform: translateY(-3px);
}

.album-card img {
    width: 100%;
    height: 100%;
    max-height: 400px;
    object-fit: contain;
}

.image-card-title {
  font-weight: normal;
}

  .single-image-container {
    text-align: center;
    margin: -0.5rem auto
  }

  .single-image-container img {
    max-width: 100%;
    max-height: 67vh;
    height: auto;
    display: inline-block;
  }

  .single-image-title {
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
  }

  .single-image-location {
    font-size: 0.9rem;
    color: #888;
    font-style: italic;
  }

  .image-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    font-size: 0.9rem;
  }

  .prev-link, .next-link {
    flex: 0 0 auto;
  }

@media (max-width: 1200px) {
  .album-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .album-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .album-grid {
    grid-template-columns: 1fr;
  }

  .image-card img {
    height: auto;
  }

  .album-grid {
      grid-template-columns: 1fr;
  }

  .album-card img {
      max-height: 300px;
  }
}

.go-back a {
  color: var(--primary-color); /* Use theme's primary color variable */
  text-decoration: none;
  transition: background-color 0.3s ease;
}